@use "src/styles/variables" as *;

.vm-legend {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: default;
  width: 100%;

  &-group {
    min-width: 23%;
    width: 100%;
    margin: 0 $padding-global $padding-global 0;

    &-title {
      display: flex;
      align-items: center;
      padding: $padding-small;
      margin-bottom: 1px;
      border-bottom: $border-divider;
      font-size: $font-size-small;
      color: $color-text-secondary;

      b {
        margin-left: $padding-small;
        color: $color-text;
      }
    }
  }
}
