@use "src/styles/variables" as *;

.vm-bar-hits-legend {
  display: flex;
  flex-wrap: wrap;
  padding: 0 $padding-small $padding-small;
  color: $color-text;

  &-item {
    max-width: 50%;
    display: flex;
    align-items: center;
    gap: $padding-small;
    font-size: $font-size-small;
    padding: $padding-small $padding-global;
    border-radius: $border-radius-small;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &_hide {
      text-decoration: line-through;
      opacity: 0.5;
    }

    &__marker {
      min-width: 14px;
      max-width: 14px;
      height: 14px;
      border: $color-background-block;
    }

    &__label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__total {
      color: $color-text-secondary;
      font-style: italic;
      grid-column: 2;
    }
  }

  &-info {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $padding-small;
    color: $color-text-secondary;
    font-size: $font-size-small;

    code {
      display: inline-block;
      padding: calc($padding-small / 2) $padding-small;
      font-size: $font-size-small;
      text-align: center;
      background-color: $color-background-body;
      background-repeat: repeat-x;
      border: $border-divider;
      border-radius: 4px;
    }
  }
}
