# File contains default list of alerts for vmauth service.
# The alerts below are just recommendations and may require some updates
# and threshold calibration according to every specific setup.
groups:
  - name: vmauth
    interval: 30s
    rules:
      - alert: ConcurrentRequestsLimitReached
        expr: sum(increase(vmauth_concurrent_requests_limit_reached_total[1m])) by (instance) > 0
        for: 3m
        labels:
          severity: warning
        annotations:
          dashboard: "http://localhost:3000/d/nbuo5Mr4k?viewPanel=10&var-instance={{ $labels.instance }}"
          summary: "vmauth ({{ $labels.instance }}) reached concurrent requests limit"
          description: "Possible solutions: increase the limit with flag: -maxConcurrentRequests, 
          deploy additional vmauth replicas, check requests latency at backend service. 
          See more details at https://docs.victoriametrics.com/victoriametrics/vmauth/#concurrency-limiting"
      - alert: UserConcurrentRequestsLimitReached
        expr: sum(increase(vmauth_user_concurrent_requests_limit_reached_total[1m])) by (username) > 0
        for: 3m
        labels:
          severity: warning
        annotations:
          dashboard: "http://localhost:3000/d/nbuo5Mr4k?viewPanel=10&var-instance={{ $labels.instance }}"
          summary: "vmauth has reached concurrent requests limit for username {{ $labels.username }}"
          description: "Possible solutions: increase limit with flag: -maxConcurrentPerUserRequests, 
          deploy additional vmauth replicas, check requests latency at backend service."
      - alert: UnauthorizedUserRequestErrors
        expr: increase(vmauth_unauthorized_user_request_errors_total[5m]) > 0
        for: 15m
        labels:
          severity: warning
        annotations:
          dashboard: "http://localhost:3000/d/nbuo5Mr4k?viewPanel=37&var-instance={{ $labels.instance }}"
          summary: "Too many errors served for unauthorized user (instance {{ $labels.instance }})"
          description: "Requests from unauthorized user are receiving errors.
            Please check the vmauth logs to verify that the configuration is correct and clients are sending valid requests."
      - alert: UserRequestErrors
        expr: increase(vmauth_user_request_errors_total[5m]) > 0
        for: 15m
        labels:
          severity: warning
        annotations:
          dashboard: "http://localhost:3000/d/nbuo5Mr4k?viewPanel=37&var-instance={{ $labels.instance }}"
          summary: "Too many errors served for user {{ $labels.username }} (instance {{ $labels.instance }})"
          description: "Requests from user {{ $labels.username }} are receiving errors.
            Please check the vmauth logs to verify that the configuration is correct and clients are sending valid requests."
