@use "src/styles/variables" as *;

.vm-graph-settings {
  &-popper {
    display: grid;
    gap: $padding-global;
    padding: 0 0 $padding-global;

    &__body {
      display: grid;
      gap: $padding-large;
      padding: 0 $padding-global;
    }
  }
}
