@use "src/styles/variables" as *;

.vm-custom-panel {
  height: 100%;

  &-body {
    position: relative;
    margin-top: $padding-medium;
    padding: 0 $padding-medium $padding-medium;
    background-color: $color-white;
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow;

    &-header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: $font-size-small;
      margin: 0 0-$padding-medium $padding-medium;
      padding: 0 $padding-medium;
      border-bottom: $border-divider;
      z-index: 1;
    }
  }
}
