@use "src/styles/variables" as *;

.vm-cardinality-configurator {
  display: grid;
  gap: $padding-small;

  &-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0 $padding-medium;

    &__query {
      flex-grow: 8;
    }

    &__item {
      flex-grow: 1;
    }
  }
}
