html {
  scroll-padding-top: 60px;
}

.dropdown-menu {
  min-width: 0;
}

#search {
  max-width: 400px;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.alert-group {
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  position: relative;
}

.btn svg, .dropdown-item svg {
  fill: #000;
  stroke: #000;
}

.btn:hover svg, .btn.show svg {
  fill: #fff;
  stroke: #fff;
}

.btn:has(svg) {
  height: 38px;
}

.alert-group:not(:has(.alert-rule:not(.d-none))) {
  display: none !important;
}

.alert-group:hover {
  background-color: #f8f9fa!important;
}

.table {
  table-layout: fixed;
}

.table .error-cell {
  word-break: break-word;
  font-size: 14px;
}

pre {
  overflow: scroll;
  min-height: 30px;
  max-width: 100%;
}

pre::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  height: 5px;
}

pre::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

textarea.curl-area {
  width: 100%;
  line-height: 1;
  font-size: 12px;
  border: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
