html {
  scroll-padding-top: 60px;
}

.nav-link svg {
  fill: var(--bs-navbar-color);
}

.nav-link.active svg {
  fill: var(--bs-navbar-active-color);
}

.nav-link:not(.active):hover svg {
  fill: var(--bs-nav-link-hover-color);
}

.dropdown-menu {
  --bs-dropdown-link-active-color: #000;
  --bs-dropdown-link-active-bg: #e9e9e9;
  & .dropdown-item.active {
    font-weight: 700;
  }
}

.dropdown-menu {
  min-width: 0;
}

#search {
  max-width: 400px;
}

body {
  padding-top: 4.5rem;
}

.vm-group {
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  position: relative;
  display: none;
}

.btn svg, .dropdown-item svg {
  fill: #000;
  stroke: #000;
}

.btn:hover svg, .btn.show svg {
  fill: #fff;
  stroke: #fff;
}

.btn:has(svg) {
  height: 38px;
}

.vm-item:not(.vm-found) {
  display: none;
}

.vm-group:has(.vm-item:is(.vm-found)), .vm-group:is(.vm-found) {
  display: flex;
}

.vm-group:hover {
  background-color: #f8f9fa!important;
}

.vm-group:is(.vm-found) .vm-item {
  display: table-row;
}

.table {
  table-layout: fixed;
}

.table .error-cell {
  word-break: break-word;
  font-size: 14px;
}

pre {
  overflow: scroll;
  min-height: 30px;
  max-width: 100%;
}

pre::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  height: 5px;
}

pre::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

textarea.curl-area {
  width: 100%;
  line-height: 1;
  font-size: 12px;
  border: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-60 {
  width: 60%;
}

.annotations {
  white-space: pre-wrap;
  color: gray;
  word-wrap: break-word;
}
