@use "src/styles/variables" as *;

.vm-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-body {
    flex-grow: 1;
    min-height: 100%;
    padding: $padding-medium;
  }
}
