/tags
/pkg
*.pprof
/bin
.idea
*.test
*.swp
/gocache-for-docker
/victoria-metrics-data
/vmagent-remotewrite-data
/vmstorage-data
/vmselect-cache
.DS_Store


### terraform
terraform.tfstate
terraform.tfstate.*
.terraform/
