language: go

go:
  - 1.12.x

install: make

env:
  - GO111MODULE=on

before_install:
  - GO111MODULE=off go get -v golang.org/x/lint/golint
  - GO111MODULE=off go get -u github.com/kisielk/errcheck

script:
  - make check_all
  - git diff --exit-code
  - make test-full
  - make test-pure
  - make victoria-metrics
  - make victoria-metrics-pure
  - make victoria-metrics-arm
  - make victoria-metrics-arm64

after_success:
  - bash <(curl -s https://codecov.io/bash)
