@import 'src/styles/variables';

$padding-modal: 22px;

.vm-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color-black, 0.55);

  &-content {
    padding: $padding-modal;
    background: $color-white;
    box-shadow: 0 0 24px rgba($color-black, 0.07);
    border-radius: $border-radius-small;

    &-header {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      margin-bottom: $padding-modal ;

      &__title {
        font-weight: bold;
        font-size: $font-size-medium;
      }

      &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        padding: 10px;
        box-sizing: content-box;
        color: $color-white;
        cursor: pointer;
      }
    }
  }
}

