@use "src/styles/variables" as *;

.vm-table-settings {
  &-modal {
    .vm-modal-content-body {
      padding: 0;
    }

    &-section {
      padding-block: $padding-global;
      border-top: $border-divider;

      &:first-child {
        padding-top: 0;
        border-top: none;
      }

      &__title {
        padding-inline: $padding-global;
        font-size: $font-size;
        font-weight: bold;
        margin-bottom: $padding-global;
      }
    }

    &-columns {
      &__search {
        padding-inline: $padding-global;
      }

      &-list {
        display: flex;
        flex-direction: column;
        max-height: 250px;
        min-height: 250px;
        overflow: auto;
        margin-bottom: $padding-global;

        &__item {
          width: 100%;
          font-size: $font-size;
          border-radius: $border-radius-small;

          &>div {
            padding: $padding-small $padding-global;
          }

          &_all {
            font-weight: bold;
          }

          &:hover,
          &_focus {
            background-color: $color-hover-black;
          }

          &_custom {
            .vm-checkbox__label:after {
              width: 100%;
              content: "(custom column, will be removed if unchecked)";
              padding: 0 $padding-small;
              text-align: right;
              font-style: italic;
              color: $color-text-secondary;
            }
          }
        }
      }

      &-no-found {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 250px;
        align-items: center;
        justify-content: center;
        gap: $padding-global;

        &__info {
          text-align: center;
          font-style: italic;
          color: $color-text-secondary;
        }
      }
    }

    &-preserve {
      padding: $padding-global;

      &__info {
        padding-top: $padding-small;
        font-size: $font-size-small;
        color: $color-text-secondary;
        line-height: 130%;
      }
    }
  }
}
