@use "src/styles/variables" as *;

.vm-table-settings-popper {
  display: grid;
  min-width: 250px;

  &_mobile &-list {
    gap: $padding-global;

    &:first-child {
      padding-top: 0;
    }
  }

  &-list {
    display: grid;
    gap: 12px;
    padding: $padding-global;
    border-bottom: $border-divider;
    max-width: 250px;

    &_first {
      padding-top: 0;
    }

    &-header {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: 1fr auto;
      gap: $padding-small;
      min-height: 25px;

      &__title {
        font-weight: bold;
      }
    }

    &-columns {
      max-height: 350px;
      overflow: auto;
    }

    &__item {
      padding: calc($padding-global/2) $padding-global;
      font-size: $font-size;

      &:hover,
      &_focus {
        background-color: $color-hover-black;
      }

      &_check_all {
        padding: calc($padding-global/2) $padding-global;
        margin: 0 (-$padding-global);
      }
    }

    &__no-found {
      text-align: center;
      font-style: italic;
      color: $color-text-secondary;
      margin-bottom: $padding-small;
    }
  }
}
