* {
  box-sizing: border-box !important;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 1280px) {
  .content-wrap {
    max-width: none;
  }
}

// Logo
.fa-home{
  vertical-align: middle;
  width: 14px;
}

.fa-home:before {
  content: url(../assets/images/vm_logo.svg);
}

// Navigation
.header {
  background: black;
}

.toctree .caption {
  color: #fc5d20 !important;
}

.toctree .fa {
  margin-right: 5px;
}

// Footer
.status .branch .name{
  color: #b35cec !important;
}

// Content
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
  font-family: 'Lato', sans-serif !important;
}
