@import "src/styles/variables";

.vm-accordion-header {
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__arrow {
    transform: rotate(0deg);
    transition: transform 200ms ease-in-out;

    &_open {
      transform: rotate(180deg);
    }

    svg {
      width: 14px;
      height: auto;
    }
  }
}

.accordion-section {
  overflow: hidden;
}
