.legendWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    cursor: default;
}

.legendGroup {
    margin: 0 12px 0 0;
    padding: 10px 6px;
}

.legendGroupTitle {
    display: flex;
    align-items: center;
    padding: 0 10px 5px;
    margin-bottom: 5px;
    font-size: 11px;
    border-bottom: 1px solid #ECEBE6;
}

.legendGroupQuery {
    font-weight: bold;
    margin-right: 4px;
}

.legendGroupLine {
    margin-right: 10px;
}

.legendItem {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 6px;
    align-items: start;
    justify-content: start;
    padding: 7px 50px 7px 10px;
    background-color: #FFF;
    cursor: pointer;
    transition: 0.2s ease;
}

.legendItemHide {
    text-decoration: line-through;
    opacity: 0.5;
}

.legendItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.legendMarker {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    transition: 0.2s ease;
}

.legendLabel {
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
}

.legendFreeFields {
    padding: 3px;
    cursor: pointer;
}

.legendFreeFields:hover {
    text-decoration: underline;
}

.legendFreeFields:not(:last-child):after {
    content: ",";
}
