@use "src/styles/variables" as *;

.vm-legend-anomaly {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc($padding-large * 2);
  cursor: default;

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $padding-small;

    svg {
      width: 30px;
      height: 14px;
    }
  }
}
