@use "src/styles/variables" as *;

.vm-query-editor {
  position: relative;

  .marker-detection {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -9999;
    visibility: hidden;
  }
}
