@use "src/styles/variables" as *;

.vm-query-editor {
  position: relative;

  &-autocomplete {
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: center;
    top: 0;
    bottom: 0;
    right: $padding-global;
    width: 12px;
    height: 100%;
    color: $color-text-secondary;
    z-index: 2;
    animation: half-circle-spinner-animation 1s infinite linear, vm-fade 0.5s ease-in;
    pointer-events: none;
  }
}
