@use "src/styles/variables" as *;
@use 'sass:color';

$font-size-logs: var(--font-size-logs, $font-size-small);

.vm-group-logs {
  margin-top: calc(-1 * $padding-medium);

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-keys {
      max-height: 300px;
      overflow: auto;

      &__search {
        padding: $padding-small;
      }
    }
  }

  &-section {
    border-bottom: $border-divider;

    &-keys {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: $padding-small;
      padding: $padding-small 120px $padding-small 0;
      font-size: $font-size-logs;

      &_compact {
        flex-wrap: nowrap;
        overflow: hidden;
      }

      &_popper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: $padding-global;
        max-height: 400px;
        overflow: auto;
      }

      &__title {
        font-weight: bold;
        white-space: nowrap;

        code {
          font-family: monospace;

          &:before {
            content: "\"";
          }

          &:after {
            content: "\"";
          }
        }
      }

      &__count {
        position: absolute;
        top: auto;
        right: 0;
        flex-grow: 1;
        text-align: right;
        font-size: $font-size-logs;
        color: $color-text-secondary;
        padding-right: calc($padding-large * 3);
      }

      &__pair {
        order: 0;
        padding: calc($padding-global / 2) $padding-global;
        background-color: color.scale($color-tropical-blue, $lightness: 60%);
        color: color.scale($color-tropical-blue, $lightness: -60%);
        border-radius: $border-radius-medium;
        transition: background-color 0.3s ease-in, transform 0.1s ease-in, opacity 0.3s ease-in;
        white-space: nowrap;

        &_hide {
          order: 2;
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
        }

        &_more {
          order: 1;
        }

        &:hover {
          background-color: $color-tropical-blue;
        }

        &:active {
          transform: translate(0, 3px);
        }

        &_dark {
          color: color.scale($color-dodger-blue, $lightness: 40%);
          background-color: $color-background-body;
          opacity: 0.8;

          &:hover {
            background-color: $color-background-body;
            opacity: 1;
          }
        }
      }
    }

    &-rows {
      display: grid;
    }
  }

  &-row {
    position: relative;

    &:last-child {
      margin-bottom: $padding-small;
    }

    &-content {
      position: relative;
      display: grid;
      grid-template-columns: auto max-content 1fr;
      padding: calc($padding-small / 4) 0;
      font-size: $font-size-logs;
      font-variant-numeric: tabular-nums;
      line-height: 1.3;
      cursor: pointer;
      transition: background-color 0.2s ease-in;

      &:hover {
        background-color: $color-hover-black;
      }

      &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: $font-size;
        transform: rotate(-90deg);
        transition: transform 0.2s ease-out;

        &_open {
          transform: rotate(0deg);
        }
      }

      &__time {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0 $padding-global 0 $padding-small;
        white-space: nowrap;

        &_missing {
          color: $color-text-disabled;
          font-style: italic;
          justify-content: center;
        }
      }

      &__msg {
        font-family: $font-family-monospace;
        overflow-wrap: anywhere;

        &_single-line {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &_empty-msg {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &_missing {
          color: $color-text-disabled;
          font-style: italic;
          text-align: center;
        }

        /* styles for markdown */
        p, pre, code {
          white-space: pre-wrap;
          word-wrap: break-word;
          word-break: normal;
        }

        code:not(pre code), pre {
          display: inline-block;
          background: $color-hover-black;
          border: 1px solid $color-hover-black;
          border-radius: $border-radius-small;
          tab-size: 4;
          font-variant-ligatures: none;
          margin: calc($padding-small / 4) 0;
        }

        p {
          font-family: $font-family-global;
          line-height: 1.4;
        }

        pre {
          padding: $padding-small;
        }

        code {
          font-size: $font-size-logs;
          padding: calc($padding-small / 4) calc($padding-small / 2);
        }

        a {
          color: $color-primary;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        strong {
          font-weight: bold;
        }

        em {
          font-style: italic;
        }

        blockquote {
          border-left: 4px solid $color-hover-black;
          margin: calc($padding-small / 2) $padding-small;
          padding: calc($padding-small / 2) $padding-small;
        }

        ul, ol {
          list-style-position: inside;
        }

        /* end styles for markdown */
      }

      &__sub-msg {
        padding-right: $padding-global;
      }
    }

    &-fields {
      position: relative;
      grid-row: 2;
      padding: $padding-small 0;
      margin: $padding-small 0 $padding-small calc($padding-global * 2);
      border: $border-divider;
      border-radius: $border-radius-small;
      overflow: auto;
      max-height: 300px;
      resize: vertical;
      font-family: $font-family-monospace;
      font-size: $font-size-logs;
      font-variant-numeric: tabular-nums;

      &-item {
        border-radius: $border-radius-small;
        transition: background-color 0.2s ease-in;

        &:hover {
          background-color: $color-hover-black;
        }

        &-controls {
          padding: 0 calc($padding-small / 2);

          &__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &__button.vm-button_small {
            width: 22px;
            height: 22px;
            min-height: 22px;
          }
        }

        &__key,
        &__value {
          vertical-align: top;
          line-height: $font-size;
          padding: calc($padding-small / 2);
        }

        &__key {
          overflow-wrap: break-word;
          width: max-content;
        }

        &__value {
          width: 100%;
          word-break: break-all;
          white-space: pre-wrap;
        }
      }
    }
  }
}
