@use "src/styles/variables" as *;

.vm-scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &_visible {
    opacity: 1;
    visibility: visible;
  }

  .vm-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}
