@use "src/styles/variables" as *;
@use "src/components/Main/Button/style" as *;

.vm-execution-controls {

  &-buttons {
    display: flex;
    justify-content: space-between;
    border-radius: calc($button-radius + 1px);
    min-width: 107px;

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(0);
      transition: transform 200ms ease-in-out;

      &_open {
        transform: rotate(180deg);
      }
    }
  }

  &-list {
    width: 124px;
    max-height: 208px;
    overflow: auto;
    padding: $padding-small 0;
    font-size: $font-size;
  }
}
