@use "src/styles/variables" as *;
@use "src/components/Main/Button/style" as *;

.vm-execution-controls {

  &__buttons {
    display: flex;
    justify-content: space-between;
    border-radius: $button-radius + 1;
    min-width: 124px;
  }

  &-list {
    width: 124px;
    max-height: 208px;
    overflow: auto;
    padding: $padding-small 0;
    font-size: $font-size;
  }
}
