@import "src/styles/variables";

.vm-execution-controls {

  &__buttons {
    display: flex;
  }

  &-list {
    min-width: 110px;
    max-height: 208px;
    overflow: auto;
    padding: $padding-small 0;
    font-size: $font-size-small;

    &__item {
      padding: $padding-small $padding-global;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 200ms ease;

      &_active {
        font-weight: bold;
        color: $color-primary;
      }

      &:hover {
        background-color: rgba($color-black, 0.05);
      }
    }
  }
}
