@use "src/styles/variables" as *;

.vm-explore-metrics {
  display: grid;
  align-items: flex-start;
  gap: $padding-medium;

  &-header {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    align-items: center;
    justify-content: flex-start;
    gap: $padding-medium;
  }

  &-body {
    display: grid;
    align-items: flex-start;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow;
  }
}
