@use "src/styles/variables" as *;

.vm-explore-metrics {
  display: grid;
  align-items: flex-start;
  gap: $padding-medium;

  &-header {}

  &-body {
    display: grid;
    align-items: flex-start;
    gap: $padding-medium;
  }
}
