@use "src/styles/variables" as *;

.vm-legend-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: $padding-small;
  align-items: start;
  justify-content: start;
  padding: $padding-small;
  background-color: $color-background-block;
  cursor: pointer;
  transition: 0.2s ease;
  margin-bottom: $padding-small;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &_hide {
    text-decoration: line-through;
    opacity: 0.5;
  }

  &__marker {
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    transition: 0.2s ease;
    border-radius: 2px;
  }

  &-info {
    font-weight: normal;
    word-break: break-all;

    &__label {
      margin-right: 2px;
    }

    &__free-fields {
      padding: 2px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:not(:last-child):after {
        content: ",";
      }
    }
  }

  &-values {
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: $padding-small;

    &-item {
      display: flex;
      align-items: center;
      gap: 4px;

      &__label {
        color: $color-text-secondary;
      }

      &__value {
      }
    }
  }
}
