@use "src/styles/variables" as *;

.vm-active-queries {

  &-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    gap: $padding-global;
    margin-bottom: $padding-global;

    &-controls {
      grid-column: 2;
      display: grid;
      gap: $padding-small;
    }

    &__update-msg {
      white-space: nowrap;
      color: $color-text-secondary;
      font-size: $font-size-small;
    }
  }
}
