.legendWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    cursor: default;
}

.legendGroup {
    margin: 0 12px 0 0;
    padding: 10px 6px;
}

.legendGroupTitle {
    display: flex;
    align-items: center;
    padding: 0 10px 5px;
    margin-bottom: 5px;
    font-size: 11px;
    border-bottom: 1px solid #ECEBE6;
}

.legendGroupQuery {
    font-weight: bold;
    margin-right: 4px;
}
