@use "src/styles/variables" as *;

.vm-bar-hits-chart {
  position: relative;
  width: 100%;
  height: 200px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &_panning {
    pointer-events: none;
  }
}
