@use "src/styles/variables" as *;

.vm-json-settings {
  display: flex;
  flex-direction: row;

  &-modal {
    .vm-modal-content-body {
      min-width: clamp(300px, 600px, 90vw);
      padding: 0;
    }

    &-section {
      padding-block: $padding-global;
      border-top: $border-divider;

      &:first-child {
        padding-top: 0;
        border-top: none;
      }

      &__sort-settings-container {
        display: grid;
        padding: $padding-medium;
        grid-template-columns: 1fr 1fr 80px;
        gap: $padding-medium;

        @media (max-width: 500px) {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
