@use "src/styles/variables" as *;

.vm-header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $padding-global;
  font-size: $font-size-small;
  font-weight: 600;

  &-item {
    position: relative;
    padding: $padding-global $padding-small;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 200ms ease-in;
    text-transform: uppercase;

    &_sub {
      display: grid;
      grid-template-columns: auto 14px;
      align-items: center;
      justify-content: center;
      gap: 4px;
      cursor: default;
    }

    &:hover {
      opacity: 1;
    }

    &_active {
      opacity: 1;
    }

    svg {
      transform: rotate(0deg);
      transition: transform 200ms ease-in;
    }

    &_open {
      svg {
        transform: rotate(180deg);
      }
    }

    &-submenu {
      display: grid;
      white-space: nowrap;
      padding: $padding-small;
      color: $color-white;
      border-radius: 2px;
      opacity: 1;
      transform-origin: top center;
      font-size: $font-size-small;
      font-weight: 600;

      &-item {
        cursor: pointer;
      }
    }
  }
}
