@use "src/styles/variables" as *;

.vm-toggles {
  position: relative;
  display: grid;
  gap: 3px;
  width: 100%;

  &__label {
    padding: 0 $padding-global;
    color: $color-text-secondary;
    font-size: $font-size-small;
    line-height: 1;
  }

  &-group {
    position: relative;
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: $border-radius-small;
    background: $color-hover-black;

    &-item {
      position: relative;
      display: grid;
      align-items: center;
      justify-content: center;
      padding: $padding-small;
      font-size: $font-size-small;
      color: $color-text-secondary;
      font-weight: 500;
      cursor: pointer;
      text-align: center;
      transition: opacity 150ms ease-in, color 150ms ease-in;
      z-index: 2;
      user-select: none;

      &_icon {
        grid-template-columns: 14px auto;
        gap: calc($padding-small / 2);
      }

      &:hover:not(&_active) {
        opacity: 0.8;
      }

      &_active {
        color: $color-text;
        font-weight: 600;
      }
    }

    &__highlight {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px;
      height: 100%;
      background-color: rgba($color-primary, 0.08);
      transition: left 200ms cubic-bezier(0.280, 0.840, 0.420, 1), border-radius 200ms linear;
      z-index: 1;

      &:after {
        content: '';
        height: 100%;
        width: 100%;
        background-color: $color-background-block;
        border-radius: $border-radius-small;
        box-shadow: $box-shadow;
      }
    }
  }

  &_large &-group {
    border-radius: $border-radius-medium;

    &-item {
      padding: $padding-global $padding-small;

      &_icon {
        grid-template-columns: 16px auto;
        gap: $padding-small;
      }
    }

    &__highlight {
      padding: 4px;
      border-radius: $border-radius-medium;
    }
  }
}
