@use "src/styles/variables" as *;

.vm-block {
  padding: $padding-medium;
  background-color: $color-background-block;
  border-radius: $border-radius-medium;
  box-shadow: $box-shadow;

  &_mobile {
    padding: $padding-global;
    border-radius: 0;
  }

  &_empty-padding {
    padding: 0;
  }
}
