@use "src/styles/variables" as *;

.vm-popper-header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $padding-small;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary;
  padding: $padding-small $padding-small $padding-small $padding-global;
  border-radius: $border-radius-small $border-radius-small 0 0;
  color: $color-white;

  &__title {
    font-weight: bold;
  }
}
