# route requests between VictoriaMetrics and VictoriaLogs
unauthorized_user:
  url_map:
  - src_paths:
    - "/api/v1/.*"
    url_prefix: http://victoriametrics:8428
  - src_paths:
    - "/select/.*"
    url_prefix:
    - http://vlselect-1:9428
    - http://vlselect-2:9428
  - src_paths:
    - "/insert/.*"
    url_prefix:
    - http://vlinsert:9428
