.u-tooltip {
    position: absolute;
    display: none;
    grid-gap: 12px;
    max-width: 300px;
    padding: 8px;
    border-radius: 4px;
    background: rgba(57, 57, 57, 0.9);
    color: #fff;
    font-size: 10px;
    line-height: 1.4em;
    font-weight: 500;
    word-wrap: break-word;
    font-family: monospace;
    pointer-events: none;
    z-index: 100;
}

.u-tooltip-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 11px;
    line-height: 150%;
}

.u-tooltip-data__value {
    padding: 4px;
    font-weight: bold;
}

.u-tooltip__info {
    display: grid;
    grid-gap: 4px;
}

.u-tooltip__marker {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}