@use "src/styles/variables" as *;

.vm-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: $padding-small $padding-medium;
  gap: $padding-large;

  &_app {
    padding: $padding-small 0;
  }

  &_dark {
    .vm-header-button,
    button:before,
    button {
      background-color: $color-background-body;
    }
  }

  @media (max-width: 1200px) {
    gap: $padding-global;

    .vm-tabs {
      gap: 0;
    }
  }

  &-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 65px;
    min-width: 65px;
    margin-bottom: 2px;
    overflow: hidden;

    @media (max-width: 1200px) {
      min-width: 14px;
      max-width: 14px;
    }

    svg {
      max-width: 65px;
      min-width: 65px;
    }
  }

  &-nav {
    font-size: $font-size-small;
    font-weight: 600;
  }

  &__settings {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $padding-small;
    flex-grow: 1;
  }
}
