@use "src/styles/variables" as *;

.vm-modal.vm-explore-alerts {
  .vm-modal-content {
    overflow-y: scroll;
  }
}

.vm-explore-alerts-rule-item {
  row-gap: $padding-global;
  margin: $padding-global;
  display: flex;
  flex-direction: column;

  .title {
    font-weight: bold;
    text-align: center;
  }

  .vm-col-hidden {
    width: 40px;
  }

  .vm-button {
    color: $color-passive;
    border: 1px solid $color-passive;
  }

  .vm-code-example {
    .vm-button {
      background-color: $color-code;
    }
  }

  .vm-col-sm {
    width: 15%;
  }

  .vm-col-md {
    width: 20%;
  }

  table {
    word-break: break-word;
    table-layout: fixed;
    width: 100%;
    td, th {
      line-height: 30px;
      padding: 4px $padding-small;
      vertical-align: middle;
      white-space: nowrap;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    td.align-center {
      text-align: center
    }
    th {
      font-weight: bold;
      padding: 0 $padding-small;
    }
  }
}
