@use "src/styles/variables" as *;

.vm-top-queries {
  display: grid;
  align-items: flex-start;
  gap: $padding-medium;

  @media (max-width: 500px) {
    gap: $padding-small;
  }

  &-controls {
    display: grid;
    gap: $padding-small;

    &-fields {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: $padding-medium;

      &__item {
        flex-grow: 1;
        min-width: 200px;
      }
    }

    &-bottom {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: flex-end;
      justify-content: space-between;
      gap: $padding-medium;

      &_mobile {
        grid-template-columns: 1fr;
        gap: $padding-small;
      }

      &__info {
      }

      &__button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  &-panels {
    display: grid;
    gap: $padding-medium;
  }
}
