@use "src/styles/variables" as *;

.u-legend {
  font-family: $font-family-global;
  font-size: $font-size-medium;
  color: $color-text;

  .u-thead {
    display: none;
  }

  .u-series {
    display: flex;
    gap: $padding-small;

    th {
      display: none;
    }

    td {
      &:nth-child(2) {
        &:after {
          content: ':';
          margin-left: $padding-small;
        }
      }
    }

    .u-value {
      display: block;
      padding: 0;
      text-align: left;
    }
  }

}
