@use "src/styles/variables" as *;

.vm-explore-alerts-rule {
  padding: $padding-tiny;
  padding-right: 0;
  display: flex;
  row-gap: $padding-tiny;
  flex-direction: column;
  position: relative;

  &:has(>.vm-accordion-header_open) {
    background-color: $color-background-item;
  }

  &:hover {
    background-color: $color-background-item;
  }
}
