@forward "variables";
@forward "core";
@forward "reset";

@forward "./components/header-button";
@forward "./components/list";
@forward "./components/popper-header";

:root {
  --color-primary: #3F51B5;
  --color-secondary: #F50057;
  --color-error: #ff1111;
  --color-warning: #FF9800;
  --color-info: #03A9F4;
  --color-success: #4CAF50;
}
