@forward "variables";
@forward "core";
@forward "reset";

@forward "./components/header-button";
@forward "./components/list";
@forward "./components/mobile-option";
@forward "./components/block";
@forward "./components/sectionheader";
@forward "./components/table";
@forward "./components/link";
@forward "./components/dynamic-number";

:root {
  /* base palette */
  --color-primary: #3F51B5;
  --color-secondary: #E91E63;
  --color-error: #FD080E;
  --color-warning: #FF8308;
  --color-info: #03A9F4;
  --color-success: #4CAF50;

  /* text palette */
  --color-primary-text: #FFFFFF;
  --color-secondary-text: #FFFFFF;
  --color-error-text: #FFFFFF;
  --color-warning-text: #FFFFFF;
  --color-info-text: #FFFFFF;
  --color-success-text: #FFFFFF;

  /* backgrounds */
  --color-background-body: #FEFEFF;
  --color-background-block: #FFFFFF;
  --color-background-tooltip: rgba(80,80,80,0.9);

  /* text */
  --color-text: #110f0f;
  --color-text-secondary: #706F6F;
  --color-text-disabled: #A09F9F;

  /* box-shadow */
  --box-shadow: rgba(0, 0, 0, 0.08) 1px 2px 6px;
  --box-shadow-popper: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;

  --border-divider: 1px solid rgba(0, 0, 0, 0.15);
  --color-hover-black: rgba(0, 0, 0, 0.06);
}
