@forward "variables";
@forward "core";
@forward "reset";

@forward "./components/header-button";
@forward "./components/list";
@forward "./components/popper-header";
@forward "./components/block";
@forward "components/sectionheader";
@forward "./components/table";

:root {
  // base palette
  --color-primary: #1565C0;
  --color-secondary: #E91E63;
  --color-error: #FD080E;
  --color-warning: #FF8308;
  --color-info: #03A9F4;
  --color-success: #4CAF50;

  // text palette
  --color-primary-text: #FFFFFF;
  --color-secondary-text: #FFFFFF;
  --color-error-text: #FFFFFF;
  --color-warning-text: #FFFFFF;
  --color-info-text: #FFFFFF;
  --color-success-text: #FFFFFF;


  // backgrounds
  --color-background-body: rgba(201, 227, 246, 0.02);
  --color-background-block: #FFFFFF;
}
