/************* colors *************/
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-error: var(--color-error);
$color-warning: var(--color-warning);
$color-info: var(--color-info);
$color-success: var(--color-success);

$color-black: #000000;
$color-silver: #C4C4C4;
$color-alto: #D8D8D8;
$color-white: #ffffff;

$color-dodger-blue: #1A90FF;
$color-tropical-blue: #C9E3F6;

$color-text: #333333;
$color-text-secondary: #62686c;
$color-text-disabled: #cacfce;


/************* background *************/
$color-background-modal: rgba($color-black, 0.7);
$color-background-body: rgba(203, 203, 203, 0.02);
$color-background-tooltip: rgba(97, 97, 97, 0.92);


/************* padding *************/
$padding-global: 16px;
$padding-large: 48px;
$padding-medium: 24px;
$padding-small: 8px;


/************* fonts *************/
$font-family-global: 'Lato', sans-serif;
$font-family-monospace: 'JetBrains Mono', monospace;
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size: 12px;
$font-size-small: 10px;


/************* border *************/
$border-divider: 1px solid rgba($color-black, 0.15);


/************* border-radius *************/
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;


/************* box-shadows *************/
$box-shadow: 2px 4px 12px rgba($color-black, 0.08);
$box-shadow-bottom: rgba($color-black, 0.04) 0px 3px 5px;
$box-shadow-popper: rgba($color-black, 0.2) 0px 2px 8px 0px;
