@use "src/styles/variables" as *;

.vm-table-view {
  margin-top: -$padding-medium;
  max-width: calc(100vw - ($padding-medium*4) - var(--scrollbar-width));
  overflow-x: auto;

  table {
    margin-top: 0;
  }
}
