@use "src/styles/variables" as *;

.vm-axes-limits {
  display: grid;
  align-items: center;
  gap: $padding-global;

  &-list {
    display: grid;
    align-items: center;
    gap: $padding-global;

    &__inputs {
      display: grid;
      grid-template-columns: repeat(2, 120px);
      gap: $padding-small;
    }
  }
}
