@use "../../../../styles/variables" as *;

.vm-table-settings-popper {
  display: grid;
  min-width: 250px;

  &-list {
    display: grid;
    gap: $padding-small;
    padding: $padding-global;
    max-height: 350px;
    overflow: auto;
    border-bottom: $border-divider;

    &-header {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: 1fr auto;
      min-height: 25px;

      &__title {
        font-weight: bold;
      }
    }

    &__item {
      font-size: $font-size;
      text-transform: capitalize;
    }
  }
}
