.panelDescription ul {
    line-height: 2.2;
}

.panelDescription a {
    color: #FFFFFF;
}

.panelDescription code {
    display: inline;
    max-width: 100%;
    padding: 4px 6px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    font-weight: 400;
    font-size: inherit;
    color: #FFFFFF;
}