@use "src/styles/variables" as *;

.vm-server-configurator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $padding-medium;
  width: 600px;

  &_mobile {
    grid-auto-rows: min-content;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &__input {
    width: 100%;

    &_server {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 0 $padding-small;
    }
  }

  &__title {
    grid-column: auto / span 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: $font-size;
    font-weight: bold;
    margin-bottom: $padding-global;
  }

  &__footer {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-end;
    gap: $padding-small;
    margin-left: auto;
    margin-right: 0;
  }

  &_mobile &__footer {
    align-items: flex-end;
    flex-grow: 1;
    width: 100%;
  }
}
