@use "src/styles/variables" as *;

.vm-server-configurator {
  display: grid;
  align-items: center;
  gap: $padding-medium;
  width: 600px;

  &__input {

  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: $font-size;
    font-weight: bold;
    margin-bottom: $padding-global;
  }

  &__footer {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-end;
    gap: $padding-small;
    margin-left: auto;
    margin-right: 0;
  }
}
