@use "src/styles/variables" as *;

.vm-autocomplete {
  max-height: 300px;
  overflow: auto;

  &__no-options {
    padding: $padding-global;
    text-align: center;
    color: $color-text-disabled;
  }
}
