@use "src/styles/variables" as *;

.vm-explore-metrics-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: $padding-small calc($padding-small + 10px);

  &__job {
    flex-grow: 0.5;
    min-width: 200px;
  }

  &__instance {
    flex-grow: 1;
    min-width: 300px;
  }

  &-metrics {
    flex-grow: 1;
    width: 100%;
  }

  &__clear-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    cursor: pointer;

    &:hover {
      opacity: 0.7
    }
  }

}
