@use "src/styles/variables" as *;

.vm-time-selector {
  display: grid;
  grid-template-columns: repeat(2, 230px);
  padding: $padding-global 0;

  &-left {
    display: flex;
    flex-direction: column;
    gap: $padding-small;
    border-right: $border-divider;
    padding: 0 $padding-global;

    &-inputs {
      flex-grow: 1;
      display: grid;
      align-items: flex-start;
      justify-content: stretch;

      &__date {
        display: grid;
        grid-template-columns: 1fr 14px;
        gap: $padding-small;
        align-items: center;
        justify-content: center;
        padding-bottom: $padding-small;
        margin-bottom: $padding-global;
        border-bottom: $border-divider;
        cursor: pointer;
        transition: color 200ms ease-in-out, border-bottom-color 300ms ease;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          border-bottom-color: $color-primary;
        }

        &:hover svg,
        &:hover {
          color: $color-primary;
        }

        label {
          grid-column: 1/3;
          font-size: $font-size-small;
          color: $color-text-secondary;
        }

        svg {
          color: $color-text-secondary;
          transition: color 200ms ease-in-out;
        }
      }
    }

    &-timezone {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $padding-small;
      font-size: $font-size-small;
      margin-bottom: $padding-small;

      &__title {}

      &__utc {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-black, 0.06);
        padding: calc($padding-small/2);
        border-radius: $border-radius-small;
      }
    }

    &__controls {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $padding-small;
    }
  }
}
