@use "src/styles/variables" as *;

.vm-predefined-panels {
  display: grid;
  gap: $padding-global;
  align-items: flex-start;

  &-tabs.vm-block {
    padding: $padding-global;
  }

  &-tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: $font-size-small;
    gap: $padding-small;
    white-space: nowrap;
    overflow: hidden;

    &__tab {
      padding: $padding-small $padding-global;
      border-radius: $border-radius-medium;
      cursor: pointer;
      transition: background 200ms ease-in-out, color 150ms ease-in;
      background: $color-white;
      text-transform: uppercase;
      color: rgba($color-black, 0.2);
      border: 1px solid rgba($color-black, 0.2);

      &:hover {
        color: $color-primary;
      }

      &_active {
        border-color: $color-primary;
        color: $color-primary;
      }
    }
  }

  &__dashboards {
    display: grid;
    gap: $padding-global;
  }
}
