[Unit]
Description=VictoriaMetrics is a fast, cost-effective and scalable time series database.

[Service]
Type=simple
StartLimitBurst=5
StartLimitInterval=0
Restart=on-failure
RestartSec=1
ExecStart=/usr/sbin/victoria-metrics -storageDataPath /var/lib/victoria-metrics-data -retentionPeriod 12
ExecStop=/bin/kill -s SIGTERM $MAINPID
LimitNOFILE=32000
LimitNPROC=32000

[Install]
WantedBy=multi-user.target
