@use "src/styles/variables" as *;

.vm-query-configurator {
  display: grid;
  gap: $padding-small;
  padding: $padding-medium;
  background-color: $color-white;
  border-radius: $border-radius-medium;
  box-shadow: $box-shadow;

  &-list {
    display: grid;

    &-row {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: $padding-small;

      &__button {
        display: grid;
        width: 36px;
        min-height: 36px;
      }
    }
  }

  &-settings {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: $padding-medium;

    &__buttons {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: $padding-small;
    }
  }
}
