@use "src/styles/variables" as *;

.vm-query-configurator {
  display: grid;
  gap: $padding-global;

  &-list {
    display: grid;

    &-row {
      display: grid;
      grid-template-columns: 1fr auto auto auto;
      align-items: center;
      gap: $padding-small;

      &_mobile {
        gap: 4px;
      }

      &_disabled {
        filter: grayscale(100%);
        opacity: 0.5;
      }

      &__button {
        display: grid;
        align-items: start;
        width: 36px;
        min-height: 36px;
      }
    }
  }

  &-settings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: $padding-medium;

    &__buttons {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: $padding-small;
      justify-content: flex-end;
    }
  }

  &-execute {
    display: inline-flex;

    &__button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__options {
      height: 100%;
      padding-right: 8px;
      padding-left: 8px;
      border-left-color: rgb(255 255 255 / 20%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(0);
      transition: transform 200ms ease-in-out;

      &_open {
        transform: rotate(180deg);
      }
    }

    &-list {
      width: 124px;
      max-height: 208px;
      overflow: auto;
      padding: $padding-small 0;
      font-size: $font-size;

      &_mobile {
        width: 100%;
        max-height: calc(($vh * 100) - 70px);
        padding: 0;
      }
    }
  }
}
