@use "src/styles/variables" as *;

.vm-select {
  &-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px $padding-global;
    cursor: pointer;
    border: $border-divider;
    border-radius: $border-radius-small;
    min-height: 36px;

    &-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: $padding-small;
      width: 100%;

      &__selected {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-black, 0.06);
        padding: 2px 2px 2px 6px;
        border-radius: $border-radius-small;
        font-size: $font-size;
        line-height: $font-size;

        svg {
          width: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;
          background-color: transparent;
          border-radius: $border-radius-small;
          transition: background-color 200ms ease-in-out;
          padding: 4px;

          &:hover {
            background-color: rgba($color-black, 0.1);
          }
        }
      }
    }

    input {
      display: inline-block;
      position: relative;
      border-radius: $border-radius-small;
      font-size: $font-size;
      line-height: 18px;
      height: 18px;
      padding: 0;
      border: none;
      z-index: 2;
      min-width: 100px;
      flex-grow: 1;

      &:placeholder-shown {
        width: auto;
      }
    }

    &__icon {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      color: $color-text-secondary;
      border-right: $border-divider;
      transition: transform 200ms ease-in, opacity 200ms ease-in;
      cursor: pointer;
      padding: 0 $padding-small;

      &:last-child {
        border: none;
      }

      svg {
        width: 14px;
      }

      &_open {
        transform: rotate(180deg);
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
