name: license-check
on:
  push:
    paths:
      - 'vendor'
  pull_request:
    paths:
      - 'vendor'
permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@main
        with:
          go-version: 1.19.1
        id: go
      - name: Code checkout
        uses: actions/checkout@master
      - name: Check License
        run: |
          make check-licenses
