name: main - test
on:
  push:
    branches:
      - master
      - cluster
    paths-ignore:
      - "docs/**"
      - "**.md"
  pull_request:
    branches:
      - master
      - cluster
    paths-ignore:
      - "docs/**"
      - "**.md"
permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.5
          check-latest: true
          cache: true
      - name: Code checkout
        uses: actions/checkout@v3
      - name: Dependencies
        run: |
          make install-golint
          make install-errcheck
          make install-golangci-lint
          make check-all
          git diff --exit-code

  test:
    needs: lint
    strategy:
      matrix:
        scenario: ["test-full", "test-pure", "test-full-386"]
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.5
          check-latest: true
          cache: true
      - name: Code checkout
        uses: actions/checkout@v3

      - name: run tests
        run: |
          make ${{ matrix.scenario}}

      - name: Publish coverage
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.txt
