name: main
on:
  workflow_run:
    workflows: ["main - test"]
    types:
      - completed

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.5
          check-latest: true
          cache: true

      - name: Build
        run: |
          make vmcluster-crossbuild
