name: test

on:
  push:
    branches:
      - cluster
      - master
    paths:
      - '**.go'
      - 'go.*'
      - '.github/workflows/main.yml'
  pull_request:
    branches:
      - cluster
      - master
    paths:
      - '**.go'
      - 'go.*'
      - '.github/workflows/main.yml'

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}


jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v5

      - name: Setup Go
        id: go
        uses: actions/setup-go@v6
        with:
          cache-dependency-path: |
            go.sum
            Makefile
            app/**/Makefile
          go-version: stable


      - name: Cache golangci-lint
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/golangci-lint
            ~/go/bin
          key: golangci-lint-${{ runner.os }}-${{ hashFiles('.golangci.yml') }}

      - name: Run check-all
        run: |
          make check-all
          git diff --exit-code

  unit:
    name: unit
    runs-on: ubuntu-latest

    strategy:
      matrix:
        scenario:
          - 'test-full'
          - 'test-full-386'
          - 'test-pure'

    steps:
      - name: Code checkout
        uses: actions/checkout@v5

      - name: Setup Go
        id: go
        uses: actions/setup-go@v6
        with:
          cache-dependency-path: |
            go.sum
            Makefile
            app/**/Makefile
          go-version: stable

      - name: Run tests
        run: GOGC=10 make ${{ matrix.scenario}}

      - name: Publish coverage
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.txt

  integration:
    name: integration
    runs-on: ubuntu-latest

    steps:
      - name: Code checkout
        uses: actions/checkout@v5

      - name: Setup Go
        id: go
        uses: actions/setup-go@v6
        with:
          cache-dependency-path: |
            go.sum
            Makefile
            app/**/Makefile
          go-version: stable

      - name: Run integration tests
        run: make integration-test
