body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Material UI global classes*/

.MuiAccordionSummary-content {
  margin: 10px 0 !important;
}

/* TODO: find better way to override codemirror styles */
.cm-activeLine {
  background-color: inherit !important;
}
.cm-wrap {
  border-radius: 4px;
  border-color: #b9b9b9;
  border-style: solid;
  border-width: 1px;
  font-size: 10px;
}
.one-line-scroll .cm-wrap {
  height: 24px;
}
